guestbook-app/node_modules/
guestbook-app/package-lock.json
guestbook-app/conf/guestbook.json
guestbook-cdk/node_modules/
guestbook-cdkpackage-lock.json
guestbook-cdk/conf/config.json
guestbook-cdk/cdk.out/
guestbook-cdk/cdk.context.json