body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  max-width: 768px
}

.guestbook-msg {

}

.guestbook-img {
  width: 400px;
}

.guestbook-date {
  font-style: italic;
  color: #999999;
}
