{
    "description": "Configuration file used for the dev and prod environments. Create a copy named config.dev.json and config.prod.json",
    "env": {
        "account": "1234567890",
        "region": "eu-central-1"
    },
    "vpc": {
        "name": "guestbook-{dev|prod}-vpc",
        "maxAzs": 3,
        "natGateways": 1
    },
    "rds": {
        "databaseUsername": "dbuser",
        "engine": "aurora",
        "serviceName": "guestbook",
        "engineMode": "serverless",
        "engineVersion": "5.6.10a",
        "databaseName": "guestbook"
    }, 
    "secretManager": {
        "engine": "mysql"
    },
    "instance": {
        "machineImage": "image-guestbook-app",
        "name": "guestbook-app"
    },
    "iam": {
        "ssmRoleName": "ssm-role-ec2",
        "ssmExistingRoleArn": "arn:aws:iam::1234567890:role/ssm-role-ec2",
        "ssmManagedPolicyArn": "arn:aws:iam::aws:policy/service-role/AmazonEC2RoleforSSM"
    }    
}