{% extends 'base.html' %}

{% block container %}

<h2>Super Guestbook App</h2>
{% for row in rows %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ row.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="guestbook-msg">{{ row.message }}</div>
    {% if row.photo_path %}
    <div><img class="guestbook-img" src="https://s3-us-west-2.amazonaws.com/ab.misc.01/{{ row.photo_path }}"></div>
    {% endif %}
    <div class="guestbook-date">{{ row.date.toString() }}</div>
  </div>
</div>
{% endfor %}

<hr>

<h3>Add a new comment</h3>
<form method="post" action="/">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Name</span>
    <input type="text" class="form-control" placeholder="Name" name="name" aria-describedby="basic-addon1">
  </div>

  <br />

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon2">Message</span>
    <textarea class="form-control" rows="5" name="message" aria-describedby="basic-addon2"></textarea>
  </div>

  <br />

  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}

{% block js %}
<script src="/javascripts/guestbook.js"></script>
{% endblock js %}
