[Unit]
Description=GuestBook Backend
After=mariadb.service

[Service]
Environment=PORT=8080
ExecStart=/opt/dev/LIVE-CODING/guestbook-app/setup/start.sh
WorkingDirectory=/opt/dev/LIVE-CODING/guestbook-app/
LimitNOFILE=4096
IgnoreSIGPIPE=false
KillMode=process
User=ec2-user
Restart=always

[Install]
WantedBy=multi-user.target
